@import '../../Scss/components';
@import '../../Scss/fonts';
@import '../../Scss/variable';

.assign-project-page{
    position: relative;
    width: initial;
    height: 100%;
    border-radius: 5rem 0 0 0;
    background-color: $primarycolor;
    overflow: overlay;
    & .assign-project-container{
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem;

        & .assign-project-details-header{
            text-align: center;
        }

        & hr{
                margin: 3rem 0;
                background-color: $lightgreen;  
        }
        & .assign-sections{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            & button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35rem;
                height: 4rem;
            }
        }

      
    }
}