@import '../../Scss/components';
@import '../../Scss/fonts';
@import '../../Scss/variable';

.employee-details-container{
    position: relative;
    width: initial;
    height: 100%;
    border-radius: 5rem 0 0 0;
    background-color: $primarycolor;
    overflow: overlay;


    & .employee-details-section{
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem;

        & .employee-details-header{
            text-align: center;

            & hr{
                margin: 3rem 0;
                background-color: $secondarygreen;
            }
        }

        & .employee-details-info-section{
            display: flex;
            flex-direction: row;
            height: fit-content;
            & .employee-details-info{
                position: relative;
                width: 80%;
                height: 100%;
                background-color: $pure;
                box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
                border-radius: 1rem;
                margin: 0 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                & .employee-details-inside-header{
                    margin: 1rem;
                    border-radius: 1rem;
                    padding: 1rem;
                    background-color: $primarycolor;
                    color: $secondarygreen;
                    text-align: center;
                }
                & .employee-details-inside-info{
                    padding: 0 4rem;

                    & ul{
                        padding:  1rem 2rem;
                        & li{
                            padding: 1rem 0;
                        }
                        & p{
                            padding: 1rem 0;
                        }
                    }
                }
            }

            & .employee-details-projects{
                position: relative;
                width: 20%;
                background-color: $pure;
                box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.1);
                border-radius: 1rem;
                margin: 0 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                

                & .employee-details-box1{
                    background-color: $primarycolor;
                    margin: 1rem;
                    border-radius: 1rem;
                    padding: 1rem 1rem;
                    width: 20rem;
                    height: 18rem;
                    
                    
                    & button{
                        margin-top: 5rem;
                        width: 100%;
                        height: 30%;
                        text-align: center;
                        font-size: 2.4rem;
                    }
                }
            }
        }

    }
}