@import '../../Scss/components';
@import '../../Scss/fonts';
@import '../../Scss/variable';


.Pending-project-page{
    position: relative;
    width: initial;
    height: 100%;
    border-radius: 5rem 0 0 0;
    background-color: $primarycolor;
    overflow: overlay;
    & .Pending-project-container{
        display: flex;
        flex-direction: column;
        padding: 5rem 1rem; 
        & .Pending-project-details-header{
            text-align: center;
        }

        & hr{
            margin: 3rem 0;
            background-color: $lightgreen;  
        }
        & .projects-sections{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            & button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35rem;
                height: 4rem;
            }
        }

        & .Pending-project-main-list{
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem;
            gap: 1rem;
            overflow: overlay;
            & .Pending-project-header-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $secondarygreen;
                border-radius: 1rem;
                padding: 0 2rem;
                align-items: center;
                height: 5rem;
                & p{
                    width: 25rem;
                    text-align: center;
                    // border: 2px solid;
                }
            }

            & .Pending-project-main-list{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $pure;
                border-radius: 1rem;
                padding: 0 2rem;
                align-items: center;
                height: 5rem;
                & p{
                    width: 25rem;
                    text-align: center;
                    // border: 2px solid;
                }
            }
        }
    }
}