$pure: #fff;
$lightgreen: #4D8F69;
$secondarygreen: #064420; 
$primarycolor: #E4EFE7;

.color-white{
    color: $pure;
}

.color-lightgreen{
    color: #4D8F69;
}

.color-primary{
    color: #E4EFE7;
}

.color-secondary{
    color: #064420;
}

