@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&family=Roboto:wght@300;400;700&display=swap');

@import '../Employer/scss/employerlogin';
@import '../Employer/scss/dashboard';
@import '../Employer/scss/employer-dashboard-container';
@import '../Employer/scss/addemployee';
@import '../Employer/scss/employee-application-details';
@import '../Employer/scss/employeelist';
@import '../Employer/scss/employee-details';
@import '../Employer/scss/employee-application';
@import '../Employer/scss/totalprojects';
@import '../Employer/scss/pendingprojects';
@import '../Employer/scss/project-view-details'; 
@import '../Employer/scss/assignprojects';

@import '../Employee/scss/employeelogin';
@import '../Employee/scss/employee-dashboard';
@import '../Employee/scss/employee-profile';
@import '../Employee/scss/project-list';
@import '../Employee/scss/project-details';

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

